body,
html {
  height: 100%;
  margin: 0;
}

.container {
  gap: 15px;
  display: grid;
  grid-template: 50px 150px / 50px 50px 250px 50px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  gap: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / 5;
}

.sidebar {
  background-color: #005B94;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.nav {
  background-color: #642cde;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.article {
  background-color: #7E1DC3;
  grid-column: 2 / 5;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}