body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 2rem;
  margin: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 2rem;
  margin-left: 17rem;
 
}